---
// Live2D Page
import Layout from "@layouts/Layout.astro";
import { fetchList } from "@lib/stores/fetchData";
import Live2dList from "@components/content/live2dPosts.svelte";
const category = "live2d";
let postsFetched = await fetchList(category);
let posts = postsFetched?.posts;
---

<Layout
  title="Hyceate's Live2D Page"
  description="Hyceate's list of Live2d showcase videos."
  ><section class="flex flex-col justify-start items-center">
    {
      postsFetched?.categoryQuery && (
        <h1 class="text-4xl uppercase mb-10 font-medium tracking-wider">
          {postsFetched?.categoryQuery}
        </h1>
      )
    }
    <ul class="flex flex-wrap max-w-6xl justify-center md:justify-normal">
      {
        posts.length
          ? posts.map((post) => (
              <Live2dList category={category} post={post}></Live2dList>
            ))
          : "Data not Found"
      }
    </ul>
  </section>
</Layout>
<!-- <div class="contents" slot="image">
  <Picture
    src={`https://i.ytimg.com/vi_webp/${post.youtubeEmbed.video.id}/maxresdefault.webp`}
    alt={post.coverImage.alt}
    width={1280}
    loading="lazy"
    placeholder="dominantColor"
    preload="webp"
    fadeInTransition={{
      delay: ".3s",
      duration: ".4s",
      timingFunction: "ease-in",
    }}
    attributes={{
      img: {
        class:
          "flex-[1_1_auto] h-full w-full min-h-[10rem] min-w-[15rem] rounded-md object-cover object-center",
      },
    }}
  />
</div> -->
