---
// Art Page
import Layout from "@layouts/Layout.astro";
import ArtList from "@components/content/artPosts.svelte";
import { fetchList } from "@lib/stores/fetchData";
import { Image } from "astro:assets";
import { urlFor } from "@lib/utils/image";
const category = "art";
let postsFetched = await fetchList(category);
let posts = postsFetched.posts;
// console.log("posts fetched", posts);
---

<Layout title="Hyceate's Arts Page" description="Hyceate's list of artworks."
  ><section class="flex flex-col justify-start items-center mt-10">
    {
      postsFetched?.categoryQuery && (
        <h1 class="text-4xl uppercase mb-10 font-medium tracking-wider">
          {postsFetched?.categoryQuery}
        </h1>
      )
    }
    <ul class="flex flex-wrap max-w-6xl justify-center md:justify-normal">
      {
        posts.length
          ? posts.map((post) => (
              <ArtList category={category} post={post}>
                <Image
                  src={urlFor(post.mainImage).width(500).height(300).url()}
                  width="500"
                  height="300"
                  alt={post.mainImage.alt}
                  slot="image"
                  loading="lazy"
                  decoding="async"
                  class="flex-1 max-w-full rounded-md object-cover object-center"
                />
              </ArtList>
            ))
          : "Data not Found"
      }
    </ul>
  </section>
</Layout>
