---
import { AstroFont } from "astro-font";
import landing from "@assets/svg/landing_1.svg";
interface Props {
  title: string;
  description?: string;
}
const { title, description } = Astro.props;
---

<link rel="icon" type="image/svg+xml" href="/hy_roundBG.svg" />
<meta name="generator" content={Astro.generator} />

<!-- Primary Meta Tags -->
<title>{title}</title>
<meta name="title" content={title} />
<meta name="description" content={description} />
<!-- opengraph -->
<meta property="og:url" content={Astro.url.href} />
<meta property="og:site_name" content="Hyceate's Portfolio" />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:type" content="website" />
<meta property="og:image" content={landing.src} />
<AstroFont
  config={[
    {
      src: [],
      name: "Rubik",
      // Google Fonts URL
      googleFontsURL:
        "https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap",
      preload: true,
      display: "swap",
      selector: "body",
      fallback: "sans-serif",
    },
    {
      src: [],
      name: "Lexend",
      // Google Fonts URL
      googleFontsURL:
        "https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap",
      preload: true,
      display: "swap",
      selector: "h1",
      fallback: "sans-serif",
    },
  ]}
/>
